*.o
*.exe
.vscode/
*.pdf
!archive/*.pdf
!archive/fit_comparisons/*.pdf
!archive/diffractive/*.pdf
!archive/data/*
!archive/Jdipamp/*
!archive/data/Jdipamp/*
!archive/data/Jdipamp/no_interp/*
*.nb
/data/
